@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@font-face {
  font-family: "nohemi";
  src: url(/public/fonts/Nohemi-Regular.otf);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Nohemi;
}
h1,h2,h3,h4,h5,h6,p,span,a{
  font-family: Nohemi;
}
/* .home-video{
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 90%;
  
  z-index: 0;
} */
/* header{
  position: relative;
  width: 100%;
  height: 5.6rem;
  background: #171717;
  border-bottom: 0.5px solid white;
} */
/* nav{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 0 2rem 0;
  gap: 15rem; */
  /* border-bottom: 0.5px solid white; 
}*/
/* nav .menu-list{
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.5px solid white;
  text-decoration: underline;
  font-size: 1.4rem;

} */
/* nav .logo{
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  border-right:0.5px solid white;
  border-left:0.5px solid white;
} */
/* nav .logo h4{
  font-size: 1rem;
  font-weight:  bold;
}
nav .nav-details{
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0.5px solid white;
  text-decoration: underline;
  font-size: 1.4rem;
} */
/* section{
  width: 100%;
  height: 100vh;
}
.main-home{
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 8rem 5% 2rem;
  color: white;
}
.home-leftside h2{
    font-size: 4rem;
    font-weight: 700;

}
.home-scroll img{
  color: black;
  font-size: 1.6rem;
}
.home-scroll{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid white;
    border-radius: 50%;
    width: 250px;
    height: 210px;
    font-size: 1.6rem;
} */
/* .contact-details{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 8rem 5% 2rem;
  background: #112931;;
  color: #86A3AC;

} */
/* .caontact-details div h2{
  color: #86A3AC;

} */
/* .contact-details div{
  width: 400px;
  height: 80%;
} */
/* .con-leftside{
  width: 200px;
  height: 50%;
  font-size: 1.4rem;
}
.contact-middle{
  width: 400px;
  height: 60%;
}
.contact-middle h2{
  width: 100%;
  height: 20%;
  position: absolute;
  font-size: 3.8rem;
  margin-left: 6rem;
  color: white;
}
.contact-middle img{
  position: relative;
  border-radius: 2rem;
  width: 90%;
  height: 100%;
  top: 12rem;
  opacity: 60%;
}
.con-rightside {
  width: 400px;
  height: 50%;
  color: #8EABB4;
  font-family: Nohemi;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; 184.615%
  text-transform: capitalize;
  margin-top: 10rem;
} */
/* .sub-con-details{
  float: left;
  width: 50px;
  height: 40px;
  border-right: 1px solid black;
}

.con-rightside .button{
  width: 190px;
  height: 70px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding-left: 5px;
  color: white;
  margin-top: 20px;
}
.con-rightside button a{
      display: flex;
    border: 1px solid #fff;
    border-left: 1px solid;
    border-bottom: 1px solid;
    width: 100%;
    padding-left: 5px;
    height: 70%;
     padding: 5px;
} */
/* .project{
  width: 100%;
  height: 180vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 8rem 5% 2rem;

}
.project-details{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-details h4{
  position: ;
  width: 35%;
  height: 100%;
  color: #86A3AC;
  font-size: 1.4rem;
  font-weight: 400;
} */
.button::before{
  content: ('');
  position: relative;
  width: 2rem;
  height: 1rem;
  border: 2px solid white;
  background: white;
}
.button::after{

  position: relative;
  top: 20px;
  width: 3rem;
  height: 1.5rem;
  background: white;
}
/* .project-details h2{
  width: 65%;
  height: 100%;
  background: #86A3AC;
  text-align: left;
  font-size: 3.6rem;
  font-weight: 600;
}
.pro-gallery{
  display: flex;
  justify-content: center;
  width: 80%;
  height: 80%;
  gap: 100px;
  border: 0.5px solid grey;
}
.pro-gallery .pro-gallery-details{    
  display: flex;
  justify-content: center;
  align-items: center;
  border: .5px solid gray;
  border-radius: 50px;
  width: 100%;
  height: 580px;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  transition: .5 ease-in;
}
.pro-gallery-details .arrow img{
  width: 50px;
  border-radius: 50px;
}
.pro-gallery-details .arrow h2{
  font-size: 1.5rem;

}
.pro-gallery .pro-gallery-image{
  width: 90%;
  height: 50%;
  border-radius: 30px;
  rotate: calc(-3deg);
}
.pro-gallery .pro-gallery-details:hover{
  background: #112931;
  color: #ffffff;
} */
/* .pro-gallery .pro-gallery-image:hover{
  
} */