@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@font-face {
  font-family: "nohemi";
  src: url(/fonts/Nohemi-Regular.otf);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Nohemi;
}
h1,h2,h3,h4,h5,h6,p,span,a{
  font-family: Nohemi;
}
/* section {
  min-height: 100vh;
  padding: 10rem 10% 10rem;
} */
.btn-all a::before{
  content: ' ';
  position: absolute;
  left: 0%;
  top: 0;
  width: 18rem;
  height: 3rem;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}
.btn-all a::after{
  content: ' ';
  position: absolute;
  left: 12%;
  top: 0;
  width: 18rem;
  height: 4rem;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.btn-s a::before{
  border-color: #171717;
}
.btn-s a::after{
  border-color: #171717;
}
/* .project-details h2{
  width: 65%;
  height: 100%;
  background: #86A3AC;
  text-align: left;
  font-size: 3.6rem;
  font-weight: 600;
}
.pro-gallery{
  display: flex;
  justify-content: center;
  width: 80%;
  height: 80%;
  gap: 100px;
  border: 0.5px solid grey;
}
.pro-gallery .pro-gallery-details{    
  display: flex;
  justify-content: center;
  align-items: center;
  border: .5px solid gray;
  border-radius: 50px;
  width: 100%;
  height: 580px;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  transition: .5 ease-in;
}
.pro-gallery-details .arrow img{
  width: 50px;
  border-radius: 50px;
}
.pro-gallery-details .arrow h2{
  font-size: 1.5rem;

}
.pro-gallery .pro-gallery-image{
  width: 90%;
  height: 50%;
  border-radius: 30px;
  rotate: calc(-3deg);
}
.pro-gallery .pro-gallery-details:hover{
  background: #112931;
  color: #ffffff;
} */
/* .pro-gallery .pro-gallery-image:hover{
  
} */